@import "../../../../assets/styles/breakpoints.scss";


@mixin subcard($color) {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: $color;
    color: #fff;
    padding: 1.5rem;
    border-radius: 0.4rem;
}

.mat-card-subtitle,
.mat-card-content {
    font-size: 2rem;

    @media screen and (max-width: $bp_md) {
        font-size: 1.9rem;
    }
    @media screen and (max-width: $bp_sm) {
        font-size: 1.6rem;
    }
}

.card {
    padding: 5rem;

    @media screen and (max-width: $bp_md) {
        padding: 2.2rem;
    }

    &__stats {
        @include subcard(#d5a100);
    }

    &__features {
        @include subcard(#0075be);
    }

    &__title {
        margin-bottom: 3rem;
    }

    &__description {
        margin-bottom: 4rem;
    }
}

.dot {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 0.5rem;
}
