@import "../../../../assets/styles/breakpoints.scss";

.mat-card-subtitle,
.mat-card-content {
    font-size: 2rem;

    @media screen and (max-width: $bp_md) {
        font-size: 1.9rem;
    }
    @media screen and (max-width: $bp_sm) {
        font-size: 1.6rem;
    }
}

.card {
    padding: 5rem;

    &__stats {
        margin-top: 2rem;
        margin-bottom: 2rem;
        background: #d5a100;
        color: #fff;
        padding: 1.5rem;
    }

    &__features {
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 1.5rem;
        background: #0075be;
        color: #fff;
    }

    &__title {
        margin-bottom: 3rem;
    }

    &__description {
        margin-bottom: 4rem;
    }
}

.dot {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 0.5rem;
}
