.card {
    padding: 3rem;

    &__stats {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.dot {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0.5rem;
}
