<mat-drawer-container class="sidenav-container">
    <mat-drawer class="sidenav-container__side-menu" mode="side" opened>
        <h1 class="sidenav-container__brand">Pokédex</h1>
        <mat-nav-list role="navigation">
            <ng-container *ngFor="let tab of navigationConfigList">
                <a mat-list-item [routerLink]="tab.route" class="sidenav-container__item">
                    <mat-icon class="sidenav-container__icon">{{ tab.icon }}</mat-icon>{{ tab.label }}
                </a>
            </ng-container>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="sidenav-container__main">
            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </div>
        <mat-toolbar class="sidenav-container__bottom-bar">
            <mat-tab-group (selectedTabChange)="navigateTo($event)" [selectedIndex]="getCurrentRouteIndex()"
                mat-stretch-tabs class="sidenav-container__buttons-bar">
                <mat-tab *ngFor="let tab of navigationConfigList">
                    <ng-template mat-tab-label>
                        <mat-icon class="sidenav-container__icon">{{ tab.icon }}</mat-icon>{{ tab.label }}
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </mat-toolbar>
    </mat-drawer-content>
</mat-drawer-container>