<mat-drawer-container class="sidenav-container">
    <mat-drawer class="sidenav-container__side-menu" mode="side" opened>
        <h1 class="sidenav-container__brand">Pokédex</h1>
        <mat-nav-list role="navigation">
            <a mat-list-item [routerLink]="['/add']" class="sidenav-container__item">
                Adicionar
            </a>
            <a mat-list-item [routerLink]="['/list']" class="sidenav-container__item">
                Listar
            </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="container sidenav-container__main">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>