@import "../../../../assets/styles/breakpoints.scss";

::ng-deep .mat-tab-label-content {
    color: #ffffff;
    font-size: 1.7rem;
}

//dispositivos que podem ter hover
@media (hover: hover) {
    .sidenav-container {
        &__item:hover {
            background-color: #dfdfdf;
            color: #000;
        }
    }
}

.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #dfdfdf;

    &__icon {
        margin-right: 0.5rem;
    }

    &__main {
        margin-top: 8rem;
        margin-bottom: 15rem;
    }

    &__brand {
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 3rem;
        background-color: #fb1b1b;
        padding: 4rem;
    }

    &__side-menu {
        width: 22rem;
        background-color: #000000;
        color: #ffffff;

        @media screen and (max-width: $bp_md) {
            display: none;
        }
    }

    &__item {
        color: #ffffff;
        padding-left: 2rem !important;
        font-size: 1.9rem;
    }

    &__bottom-bar {
        position: fixed;
        bottom: 0;
        height: 10rem;
        background-color: #000000;

        @media screen and (min-width: $bp_md) {
            display: none;
        }
    }

    &__buttons-bar {
        width: 100%;
        color: #ffffff;
    }
}
