@import "./assets/styles/breakpoints.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: unset;
    font-family: unset;
}

html {
    font-size: 62.5%; // 1rem = 10px
}

.container {
    margin: auto;
    width: 60%;
    @media screen and (max-width: $bp_md) {
        width: 80%;
    }
    @media screen and (max-width: $bp_sm) {
        width: 90%;
    }
}
