@import "./../node_modules/simplegrid/simple-grid.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: unset;
}

html {
    font-size: 62, 5%; // 1rem = 10px
}

//Breakpoints
$bp_xs: 22.5em; //360px
$bp_sm: 36em; //576px
$bp_md: 48em; //768px
$bp_lg: 62em; //992px
$bp_xl: 75em; //1200px
